@import 'Components';
@import 'Elements';
@import 'Generic';
@import 'Objects';
@import 'Utilities';    
@import 'Tools';

.c-switch-sm {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 36px;

    input {
        display: none;

        &:checked + .c-slider-sm {
            background-color: var(--ac-color-primary-main);

            &:before {
                transform: translateX(16px);
            }
        }
    }
}
  
.c-slider-sm {
    @include t-position(absolute, 0, 0, 0, 0);
    
    background-color: var(--ac-color-gray-200);
    transition: var(--ac-transition-md);
    cursor: pointer;

    &:before {
        @include t-position(absolute, $b:3px, $l:3px);

        background-color: var(--ac-color-base-white);
        fill: var(--ac-color-base-white);
        filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.06)) drop-shadow(0px 1px 3px rgba(16, 24, 40, 0.1));
        content: "";
        height: 14px;
        width: 14px;
        transition: var(--ac-transition-md);
    }

    &.round {
        border-radius: 20px;

        &:before {
            border-radius: 50%;
        }
    }
}


.c-switch-md {
    display: inline-block;
    height: 26px;
    position: relative;
    width: 44px;

    input {
        display: none;

        &:checked + .c-slider-md {
            background-color: var(--ac-color-primary-main);

            &:before {
                transform: translateX(18px);
            }
        }
    }
}
  
.c-slider-md {
    @include t-position(absolute, 0, 0, 0, 0);
    
    background-color: var(--ac-color-gray-200);
    transition: var(--ac-transition-md);
    cursor: pointer;

    &:before {
        @include t-position(absolute, $b: 3px, $l: 3px);

        background-color: var(--ac-color-base-white);
        fill: var(--ac-color-base-white);
        filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.06)) drop-shadow(0px 1px 3px rgba(16, 24, 40, 0.1));
        content: "";
        height: 20px;
        width: 20px;
        transition: var(--ac-transition-md);
    }

    &.round {
        border-radius: 20px;

        &:before {
            border-radius: 50%;
        }
    }
}

.c-switch-lg {
    width: 56px;
    height: 32px;
    display: inline-block;
    position: relative;

    input {
        display: none;

        &:checked + .c-slider-lg {
            background-color: var(--ac-color-primary-main);

            &:before {
                transform: translateX(24px);
            }
        }
    }
}
  
.c-slider-lg {
    @include t-position(absolute, 0, 0, 0, 0);

    background-color: var(--ac-color-gray-200);
    transition: var(--ac-transition-md);
    cursor: pointer;

    &:before {
        @include t-position(absolute, $b: 4px, $l: 4px);
        background-color: var(--ac-color-base-white);
        fill: var(--ac-color-base-white);
        filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.06)) drop-shadow(0px 1px 3px rgba(16, 24, 40, 0.1));
        content: "";
        height: 24px;
        width: 24px;
        transition: var(--ac-transition-md);
    }

    &.round {
        border-radius: 30px;

        &:before {
            border-radius: 50%;
        }
    }
}


// IGNORE CSS BELOW
.grid-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    
    > .item-wrapper {
        border: 2px dotted rgb(205, 205, 205);
    }

    > .item-title {
        align-self: end;
    }
}

.item {
    padding:15px;
}

.item__buttons {
    button {
        margin-bottom: 10px;
    }
}

.item__links {
    a {
        margin-bottom: 10px;
    }
}