@import 'Components';
@import 'Elements';
@import 'Generic';
@import 'Objects';
@import 'Utilities';
@import 'Tools';


// IGNORE CSS BELOW
.grid-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    
    > .item-wrapper {
        border: 2px dotted rgb(205, 205, 205);
    }

    > .item-title {
        align-self: end;
    }
}

.item {
    padding:15px;
}

.item__buttons {
    button {
        margin-bottom: 10px;
    }
}