@mixin t-textStyles( $fw: null, $fs: null, $lh: null, $c: null, $ls: null) {
    @if $fw != null {
        font-weight: $fw;
    }

    @if $fs != null {
        font-size: $fs;
    }

    @if $lh != null {
        line-height: $lh;
    }

    @if $c != null {
        color: $c;
    }

    @if $ls != null {
        letter-spacing: $ls;
    }
}

@mixin t-borderRad( $tl: null, $tr: null, $br: null, $bl: null) {
    @if $tl != null {
        border-top-left-radius: $tl;
    }

    @if $tr != null {
        border-top-right-radius: $tr;
    }

    @if $br != null {
        border-bottom-right-radius: $br;
    }

    @if $bl != null {
        border-bottom-left-radius: $bl;
    }
}

@mixin t-border( $bt: null, $br: null, $bb: null, $bl: null) {
    @if $bt != null {
        border-top: $bt;
    }

    @if $br != null {
        border-right: $br;
    }

    @if $bb != null {
        border-bottom: $bb;
    }

    @if $bl != null {
        border-left: $bl;
    }
}

@mixin t-dimensions( $w: null, $h: null, $minw: null, $maxw: null, $minh: null, $maxh: null) {
    @if $w != null {
        width: $w;
    }

    @if $h != null {
        height: $h;
    }

    @if $minw != null {
        min-width: $minw;
    }

    @if $maxw != null {
        max-width: $maxw;
    }

    @if $minh != null {
        min-height: $minh;
    }

    @if $maxh != null {
        max-height: $maxh;
    }
}

@mixin t-position( $p: null, $t: null, $r: null, $b: null, $l: null,) {
    @if $p != null {
        position: $p;
    }

    @if $t != null {
        top: $t;
    }

    @if $r != null {
        right: $r;
    }

    @if $b != null {
        bottom: $b;
    }

    @if $l != null {
        left: $l;
    }
}

@mixin t-position(
    $p: null, 
    $t: null, 
    $r: null, 
    $b: null, 
    $l: null,) 
    {
        @if $p != null {
            position: $p;
        } 
    
        @if $t != null {
            top: $t;
        } 
    
        @if $r != null {
            right: $r;
        } 
    
        @if $b != null{
            bottom: $b;
        } 

        @if $l != null{
            left: $l;
        } 
}

@mixin t-flexCentered {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin t-inputsCommon {
    input {
        transition: var(--ac-transition-md) border;

        &:focus-visible,
        &:focus {
            border: var(--ac-border-width-1) solid var(--ac-color-gray-700) !important;
        }

        &:not(:focus-visible):hover,
        &:not(:focus):hover {
            border: var(--ac-border-width-1) solid var(--ac-color-gray-500) !important;
        }
    }

    &.filled {
        > p {
            border: var(--ac-border-width-1) solid var(--ac-color-gray-300);
        }

        > input {
            border: var(--ac-border-width-1) solid var(--ac-color-gray-300);
        }
    }

    &.error {
        > input {
            padding-right: var(--ac-space-14);
            border: var(--ac-border-width-1) solid var(--ac-color-error-light);
        }

        & > i {
            position: absolute;
            right: 3%;
            top: calc(50% - (var(--ac-font-size-7) / 2));
            font-size: var(--ac-font-size-7);
        }

        & > i[class*="exclamation"] {
            color: var(--ac-color-error-main);
        }
    }

    &.disabled {
        input {
            background-color: var(--ac-color-gray-50);
            color: var(--ac-color-text-light-gray) !important;
        }

        ::placeholder {
            color: var(--ac-color-text-light-gray) !important;
        }
    }
}

@mixin t-buttonsCommon {
    border-radius: var(--ac-border-radius-4);
    font-weight: var(--ac-font-weight-4);
    width: fit-content;
    transition: var(--ac-transition-md) background-color;
    display: flex;
    align-items: center;
}

@mixin t-primaryButtonsCommon {
    border: none;
    box-shadow: var(--ac-shadow-xs);
    background-color: var(--ac-color-primary-main);
    color: var(--ac-color-base-white);

    &:hover {
        background-color: var(--ac-color-primary-700);
    }

    &.disabled {
        background-color: var(--ac-color-primary-300);

        &:hover {
            background-color: var(--ac-color-primary-300);
        }
    }
}

@mixin t-secondaryButtonsCommon {
    background-color: transparent;
    border: var(--ac-border-width-1) solid var(--ac-color-primary-main);
    color: var(--ac-color-primary-main);

    &:hover {
        background-color: var(--ac-color-primary-50);
    }

    &.disabled {
        background-color: transparent;
        border: var(--ac-border-width-1) solid var(--ac-color-primary-200);
        color: var(--ac-color-primary-200);

        &:hover {
            background-color: transparent;
        }
    }
}

@mixin t-tertiaryButtonsCommon {
    background-color: var(--ac-color-gray-main);
    border: 1px solid transparent;
    color: var(--ac-color-text-dark);

    &:hover {
        background-color: var(--ac-color-gray-bg);
        border: var(--ac-border-width-1) solid var(--ac-color-border);
    }

    &.disabled {
        background-color: transparent;
        border: var(--ac-border-width-1) solid var(--ac-color-border);
        color: var(--ac-color-text-light-gray);

        &:hover {
            background-color: transparent;
        }
    }
}

@mixin t-errorButtonsCommon {
    background-color: var(--ac-color-error-600);
    color: var(--ac-color-base-white);
    box-shadow: var(--ac-shadow-xs);
    border: none;

    &:hover {
        background-color: var(--ac-color-error-700)
    }

    &.disabled {
        background-color: var(--ac-color-error-300);
        color: var(--ac-color-error-100);

        &:hover {
            background-color: var(--ac-color-error-300);
        }
    }

    &.outline {
        background-color: transparent;
        color: var(--ac-color-error-main);
        box-shadow: none;
        border: var(--ac-border-width-1) solid var(--ac-color-error-main);

        &:hover {
            border: var(--ac-border-width-1) solid var(--ac-color-error-300);
            background-color: var(--ac-color-error-50);
        }

        &.disabled {
            border: var(--ac-border-width-1) solid var(--ac-color-error-100);
            background-color: var(--ac-color-error-25);
            color: var(--ac-color-error-300);
        }
    }
}


@mixin t-linkButtonsCommon {
    text-decoration: none;
    border-radius: var(--ac-border-radius-4);
    display: flex;
    align-items: center;
    width: fit-content;
    transition: var(--ac-transition-md) background-color;

    @include t-textStyles($c: var(--ac-color-primary-400), $lh: var(--ac-line-height-5), $ls: 0.4px, $fw: var(--ac-font-weight-4));

    &:hover {
        background-color: var(--ac-color-primary-25);
    }

    &.disabled {
        background-color: var(--ac-color-gray-50);
        color: var(--ac-color-primary-50);
    }
}
